.result {
    margin: 0 auto;
}


.result-purchase {
    text-align: center;
}

.btn-purchase {
    margin: 0 auto;
    
    border: 0;
    outline: 0;

    color: 	#000000 85%;
    background-color: FEE500;
}