.result {
    margin: 0 auto;
}


.result-purchase {
    text-align: center;
}

.btn-purchase {
    margin: 0 auto;

    outline: 0;

    border-color: #3A5FCB;
    color: 	#3A5FCB;
    background-color: white;
}