.result {
    margin: 0 auto;
}

.category-card {
    margin: 0 auto;
    /* display: */
}

.card-title {
    font-weight: bolder;
    color:#3A5FCB;
}


.result-purchase {
    text-align: center;
}

.btn-purchase {
    margin: 0 auto;

    outline: 0;

    border-color: #3A5FCB;
    color: 	#3A5FCB;
    background-color: white;
}