.survey {
    margin: 0 auto;
}

/* 프로그레스 바 디자인 */
.progress-bar {
    background-color: #3A5FCB;
}

/* 답변 파트 - 라디오 버튼 관련 디자인 */
.question-answer-radio {
    margin: 0 auto;
    font-size: 20px;
}

.form-check-label {
    vertical-align: middle;
}