/* parsley validator */
input.disabled {
    background: #f7f7f7;
}
input.parsley-success {
    border: 1px solid #43b149;
}
input.parsley-error {
    border: 1px solid #f1574b;
}
.input-full + .parsley-errors-list {
	margin-bottom: 20px;
}
textarea.parsley-error {
    border: 1px solid #f1574b;
}
ul.parsley-errors-list {
  	color: #f1574b;
}
ul.parsley-errors-list li {
  	padding: 5px 0;
  	font-size: 12px;
}
.validation-info {
    color: #999;
    padding: 5px 0;
}
.validation-error {
    color: #f1574b;
    padding: 5px 0;
}
.validation-error .filled ~ .filled {
	display: none;
}
/* end parsley validator */


/* headroom */
.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99991;
}
.headroom--unpinned { 
	top: 0; 
	width: 100%; 
	height: 90px; 
	background-color: #fff;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
	z-index: 99991;
}
.headroom--not-top { 
	top: 0; 
	width: 100%; 
	height: 90px; 
	background-color: #fff;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
	z-index: 99991;
}
@media only screen and (max-width: 1023px) {
	.headroom--unpinned { 
		height: 65px; 
	}
	.headroom--not-top { 
		height: 65px; 
	}
}
/* end headroom */


/* kakao chat */
#plusfriend-chat-button {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 9999;
}
#plusfriend-chat-button img {
	width: 60px;
	height: 60px;
}
@media only screen and (max-width: 1023px) {
	#plusfriend-chat-button {
		right: 15px;
		bottom: 15px;
	}  
}
/* end kakao chat */


/* ajax loading */
.ajaxloading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    right:		0;
    bottom:		0;
    left:       0;
    margin:		auto;
    height:     100%;
    width:      100%;
    opacity: 	1;    
    background: url('../images/ajax/loading_v202103.svg') 
                50% 50% 
                no-repeat;
}

                
body.loading .ajaxloading {
    overflow: hidden;   
}
body.loading .ajaxloading {
    display: block;
}
/* end ajax loading */



/* facebook share */
#fbshare-layer {
    display:    none;
    position:   fixed;
    z-index:    999999 !important;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 );
}
/* end facebook share */

